
.DS_Store
Bill_Assembly/Windows/Projects/x86_BinaryDemo/.vs/x86_BinaryDemo/FileContentIndex/d44ad27c-d5cb-429b-8120-38b2ef0484dd.vsidx
Bill_Assembly/Windows/Projects/x86_BinaryDemo/.vs/x86_BinaryDemo/v17/.suo
Bill_Assembly/Windows/Projects/x86_BinaryDemo/.vs/x86_BinaryDemo/v17/Browse.VC.db
Bill_Assembly/Windows/Projects/x86_BinaryDemo/.vs/x86_BinaryDemo/v17/Browse.VC.db-shm
Bill_Assembly/Windows/Projects/x86_BinaryDemo/.vs/x86_BinaryDemo/v17/Browse.VC.db-wal
Bill_Assembly/Windows/Projects/x86_BinaryDemo/.vs/x86_BinaryDemo/v17/Browse.VC.opendb
Bill_Assembly/Windows/Projects/x64_Array1/.vs/x64_Array1/v17/Browse.VC.opendb
